/* CSS files add styling rules to your content */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: helvetica, arial, sans-serif;
  background-color: rgb(15, 20, 15);
}
main {
display: inline;
}
header {
  display: block;
  height: 100vh;
}
h2 {
  position: relative;
  font-family: calibri, sans-serif;
  font-weight: 480;
  font-size: 50px;
  color: #373fff;
  top: -12px;
  left: 90px;
  transform: translate(0, -25%);
}
.logo {
  position: relative;
  top: 30px;
  left: 30px;
  height: 40px;
}
.logo-box {
}
.welcome-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: blanchedalmond;
}
.hi-im {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: left;
}
.zan {
  display: block;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
}
.developer-designer {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: right;
  color: #373fff;
}
.about {
  display: block;
  height: 100vh;
  background-color: #121330;
}
.about-main {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: blanchedalmond;
}
.projects {
  display: block;
  height: 100vh;
}
.contact {
  display: block;
  height: 100vh;
  background-color: #121330;
}