/* CSS files add styling rules to your content */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: helvetica, arial, sans-serif;
  background-color: rgb(15, 20, 15);
}
main {

}

h1 {
  font-style: italic;
  color: #373fff;
}
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 40px;
}