/* CSS files add styling rules to your content */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: helvetica, arial, sans-serif;
  background-color: rgb(15, 20, 15);
  max-width: 100%;
  overflow-x: hidden; 
}
nav {
  position: absolute;
  top: 30px;
  right: 30px;
}
.section {
  display: block;
  height: 99vh;
  width: 100%;
}
h2 {
  position: relative;
  font-family: calibri, sans-serif; 
  font-weight: 480;
  font-size: 30px;
  color: #373fff;
  top: 0px;
  left: 90px;
  padding-right: 10%;
  padding: 10px;
  transform: translate(0, -43%);
}
h3 {
  position: relative;
  font-family: calibri, sans-serif; 
  font-weight: 480;
  font-size: 30px;
  color: #373fff;
  top: 0px;
  left: 90px;
  padding-right: 20%;
  padding: 10px;
  transform: translate(0, -43%);
}
.logo {
  position: relative;
  top: 30px;
  left: 30px;
  height: 40px;
}
.welcome-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-55%, -50%);
  text-align: center;
  color: blanchedalmond;
}
.hi-im {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: left;
}
.zan {
  display: block;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
}
.developer-designer {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #373fff;
}
.about {
  background-color: #121330;
}
.about-main {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-55%, -50%);
  text-align: center;
  color: blanchedalmond;
}
.project-grid {
  display: grid;
  grid-template-areas: 'picture description';
  text-align: center;
}
.contact {
  background-color: #121330;
} 

@media screen and (max-width: 1080px) {
  h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 950px) {
  h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 777px) {
  h3 {
    font-size: 20px;
    padding-right: 30%;
    padding-left: 20%;
  }
}